.c-image-card {
  color: var(--g-color-black-900);
  display: flex;
  flex-direction: column;
  position: relative;
}

.c-image-card__body {
  display: flex;
  height: 100%;
}

.c-image-card__header {
  align-items: center;
  border-bottom: 1px solid var(--g-color-grey, #e4e4e4);
  display: flex;
  font-weight: 600;
  padding: var(--g-spacing-small);
}

.c-image-card__header--has-button {
  display: grid;
  grid-template-columns: 6fr 1fr;
  justify-content: space-between;
}

.c-image-card__icon {
  height: var(--g-spacing-6x-large);
  width: var(--g-spacing-6x-large);
}
