/*
 * Hide only visually, but have it available for screen readers.
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line, see:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.h-hide-visually {
  border: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap; /* 1 */
  width: 1px;
}

.h-invisible {
  visibility: hidden;
}

.h-cursor-unset {
  cursor: unset !important;
}

/*
Layout
 */

.h-flex {
  display: flex;
}

.h-no-wrap {
  white-space: nowrap;
}
