/* Global font sizes */

body {
  font-family: var(--g-font-primary);
}

* {
  line-height: 1.8;
}

h1,
.h1 {
  font-family: var(--g-font-secondary);
  font-size: var(--g-font-size-7x-large);
  line-height: 1;
}

h2,
.h2 {
  font-size: var(--g-font-size-3x-large);
  line-height: 1;
  margin-bottom: var(--g-font-size-3x-large);
}

h3,
.h3 {
  font-size: var(--g-font-size-x-large);
  line-height: 1;
  margin-bottom: var(--g-spacing-large);
}

h4,
.h4 {
  font-size: var(--g-font-size);
  line-height: 1;
  margin-bottom: var(--g-spacing);
}

h5,
.h5 {
  font-size: var(--g-font-size);
  line-height: 1;
  margin-bottom: var(--g-spacing);
}

p {
  font-size: var(--g-font-size);
  margin-bottom: var(--g-spacing);
}

h1,
h2,
h3,
h4,
h5,
p {
  margin-top: 0;
}

@media (min-width: 64em) {
  h1,
  .h1 {
    font-size: 4.5rem;
  }
  h2,
  .h2 {
    font-size: var(--g-font-size-5x-large);
  }
  h3,
  .h3 {
    font-size: 1.5rem;
  }
  h4,
  .h4 {
    font-size: var(--g-font-size-x-large);
  }
}
