.c-input-field__error-message {
  color: var(--g-color-error);
  font-size: var(--g-font-size-small);
  padding: var(--g-spacing-small) 0;
}

.c-select-list__input {
  appearance: none;
  background: none;
  border: 1px solid var(--g-color-grey-200, #e4e4e3);
  border-radius: var(--g-spacing-2x-small);
  cursor: pointer;
  display: block;
  font-family: var(--g-font-primary);
  font-size: var(--g-font-size);
  font-weight: var(--g-font-weight-light);
  outline: none;
  padding: var(--g-spacing-small);
  padding-right: var(--g-spacing-2x-large);
  text-align: left;
  width: 100%;
}

.c-select-list {
  display: block;
  position: relative;
}

.c-select-list__icon {
  height: var(--g-spacing-x-small);
  pointer-events: none;
  position: absolute;
  right: var(--g-spacing-small);
  top: 50%;
  transform: translateY(-50%);
  width: var(--g-spacing);
}

.c-select-list__input:focus {
  border: 1px solid transparent;
  box-shadow: var(--g-focus-primary);
}

.c-select-list__input--is-disabled {
  background-color: var(--g-color-grey-100, #e4e4e4);
  border: 1px solid transparent;
  cursor: not-allowed;
}

.c-select-list__input--is-required {
  border: 1px solid var(--g-color-error);
}

.c-select-list__label--is-required {
  color: var(--g-color-error);
}

/* Overriding the background image coming from Storybook css */
select:not([multiple]):not([size]) {
  background-image: none !important;
}
