.c-link-button {
  background-color: #4bc2ca;
  border: 1px solid transparent;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 1.4rem;
  min-width: 4rem;
  text-decoration: none;
}

.c-link-button:focus {
  outline: none;
}

.c-link-button:focus,
.c-link-button:hover {
  background-color: #4bc2ca;
}

.c-link-button--small {
  padding: 0.2rem 0.4rem;
}

.c-link-button--medium {
  padding: 0.4rem 0.8rem;
}

.c-link-button--large {
  padding: 0.6rem 1.2rem;
}
