.c-google-map-marker__icon {
  border: 8px solid var(--g-color-red-400, red);
  border-radius: 50% 50% 50% 0;
  cursor: pointer;
  height: var(--g-spacing-x-large);
  transform: rotate(-45deg);
  width: var(--g-spacing-x-large);
}

.c-google-map-marker__icon:focus {
  border-color: var(--g-color-red-300, red);
  box-shadow: var(--g-focus-secondary);
}

.c-google-map-marker__icon::after {
  background-color: var(--g-color-white, #fff);
  border-radius: var(--g-border-radius-full);
  content: '';
  height: var(--g-spacing-small);
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: var(--g-spacing-small);
}

.c-google-map-marker .c-google-map-marker__details {
  background-color: var(--g-color-white);
  border-radius: var(--g-border-radius-small);
  bottom: 100%;
  color: var(--g-color-black-900);
  display: inline-block;
  font-size: var(--g-font-size-small);
  left: 50%;
  margin-bottom: var(--g-spacing-x-small);
  min-width: var(--g-text-box-width);
  padding: var(--g-spacing) var(--g-spacing);
  position: absolute;
  transform: translateX(-50%);
  visibility: hidden;
  z-index: var(--g-z-google-map-marker);
}

.c-google-map-marker__icon:hover + .c-google-map-marker__details,
.c-google-map-marker__icon:focus + .c-google-map-marker__details {
  visibility: visible;
}

.c-google-map-marker__title {
  font-size: var(--g-font-size);
  font-weight: var(--g-font-weight-bold);
}

.c-google-map-marker__description {
  font-size: var(--g-font-size);
  margin-top: var(--g-spacing-small);
}
