.c-sidebar__close-button {
  padding: var(--g-spacing);
  position: absolute;
  right: 0;
  top: 0;
}

.c-sidebar__container {
  background-color: var(--g-color-white);
  bottom: 0;
  max-width: var(--c-sidebar-max-width);
  overflow-x: hidden;
  overflow-y: auto;
  padding: var(--g-spacing);
  position: fixed;
  right: 0;
  top: 0;
  transition: transform 300ms ease-in-out;
  width: 100%;
  z-index: 2;
}

.c-sidebar__container--is-hidden {
  transform: translateX(var(--c-sidebar-max-width));
}

.c-sidebar__overlay {
  background-color: rgba(0, 0, 0, 0.6);
  bottom: 0;
  left: 0;
  opacity: 1;
  position: fixed;
  right: 0;
  top: 0;
  transition: opacity var(--g-transition-time) ease;
}

.c-sidebar__overlay--is-hidden {
  opacity: 0;
  z-index: -1;
}

@media only screen and (min-width: 47.5em) {
  .c-sidebar__container {
    max-width: var(--c-sidebar-max-width);
    padding: var(--g-spacing-2x-large);
  }

  .c-sidebar__container--is-hidden {
    transform: translateX(100%);
  }
}
