.c-button-card {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

.c-button-card__icon--has-title {
  height: var(--g-spacing-3x-large);
  width: var(--g-spacing-3x-large);
}

.c-button-card__icon--has-no-title {
  height: var(--g-spacing-4x-large);
  width: var(--g-spacing-4x-large);
}

.c-button-card__text {
  font-size: var(--g-font-size-large);
  font-weight: var(--g-font-weight-semibold);
  padding-top: var(--g-spacing);
}
