.c-tabset {
  display: flex;
  flex-direction: column;
}

.c-tablist__nav {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.c-tabset__view {
  flex: 1;
  margin: 0;
  padding: 0;
}

.c-tabset--left-align {
  flex-direction: row;
  gap: var(--g-spacing-3x-large);
}

.c-tabset__nav--left-align {
  min-width: 7rem;
}

.c-tablist__nav--left-align {
  flex-direction: column;
  gap: var(--g-spacing-x-large);
}

.c-tabset__nav--switch {
  border-bottom: 1px solid var(--g-color-grey-50);
  margin-bottom: var(--g-spacing-large);
}

.c-tablist__nav--switch {
  background-color: var(--g-color-grey-100);
  border-radius: var(--g-border-radius-pill);
  display: inline-flex;
}

.c-tabset__nav--underline {
  border-bottom: 1px solid var(--g-color-grey-50);
  margin-bottom: var(--g-spacing-large);
}
