.c-navigation-card__body {
  align-items: center;
  display: flex;
  flex: 1;
  justify-content: center;
}

.c-navigation-card {
  color: var(--g-color-black-900);
  display: flex;
  flex-direction: column;
  position: relative;
}

.c-navigation-card__icon {
  height: var(--g-spacing-6x-large);
  width: var(--g-spacing-6x-large);
}
