.c-list-items {
  width: 100%;
}

.c-list-item {
  align-items: center;
  border: 1px solid var(--g-color-grey-100, #e4e4e4);
  border-radius: var(--g-border-radius-small);
  display: flex;
  justify-content: space-between;
}

.c-list-item:hover {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.c-list-item__title-section {
  display: flex;
}

.c-list-item__title-section-text {
  align-items: center;
  display: flex;
}

.c-list-item__title-section-image {
  height: var(--g-list-item-asset-height);
  object-fit: cover;
  width: var(--g-list-item-asset--width);
}

.c-list-item__header {
  display: flex;
  font-weight: var(--g-font-weight-semibold);
  padding: var(--g-spacing);
}

.c-list-item__settings-button {
  padding: var(--g-spacing);
}

.c-list-item__icon {
  height: var(--g-spacing-6x-large);
  width: var(--g-spacing-6x-large);
}
