@media screen and (prefers-reduced-motion: reduce) {
  .c-input {
    appearance: none;
    background-color: transparent;
    border: 1px solid #fff;
    border-bottom: 1px solid var(--g-color-grey-200, #e4e4e4);
    border-radius: var(--g-spacing-2x-small);
    padding: var(--g-spacing-small);
    transition: none;
    width: 100%;
  }
}

.c-input {
  appearance: none;
  background-color: transparent;
  border: 1px solid #fff;
  border-bottom: 1px solid var(--g-color-grey-200, #e4e4e4);
  border-radius: var(--g-spacing-2x-small);
  font-family: var(--g-font-primary);
  font-size: var(--g-font-size);
  font-weight: var(--g-font-weight-light);
  padding: var(--g-spacing-small);
  transition: background-color 0.2s ease-in-out 0s, border-color 0.2s ease-in-out 0s;
  width: 100%;
}

.c-input__error-message {
  color: var(--g-color-error);
  font-size: var(--g-font-size-small);
}

.c-input:hover {
  border: 1px solid var(--g-color-black-900);
}

.c-input:focus {
  border-color: var(--g-color-brand-tertiary);
  outline: none;
}

.c-input--is-correct,
.c-input--is-correct:hover,
.c-input--is-correct:focus {
  border: 1px solid var(--g-color-yellow-300);
}

.c-input--is-disabled {
  background-color: var(--g-color-grey-100, #e4e4e4);
  border: 1px solid transparent;
}

.c-input--is-disabled:hover {
  border: 1px solid transparent;
}

.c-input--is-required,
.c-input--is-required:hover,
.c-input--is-required:focus {
  border: 1px solid var(--g-color-red-300);
}

.c-input--validation-container {
  align-items: center;
  gap: var(--g-spacing);
  justify-content: center;
}

.c-input--icon {
  height: var(--g-spacing-2x-large);
  width: var(--g-spacing-2x-large);
}

.c-input-label--is-required {
  color: var(--g-color-red-300);
}
