.c-dialog-overlay {
  align-items: center;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  flex-direction: column;
  height: 100%;
  left: 0;
  padding-top: 10%;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: var(--g-z-dialog);
}

.c-dialog {
  background-color: var(--g-color-white);
  border-radius: var(--g-border-radius-small);
  display: flex;
  flex-direction: column;
  max-height: var(--g-dialog-max-height);
  max-width: var(--g-dialog-max-width);
  overflow: auto;
  -webkit-overflow-scrolling: auto;
  overscroll-behavior: contain;
  padding: var(--g-spacing-5x-large);
  position: relative;
  width: 100%;
}

.c-dialog__header {
  align-items: center;
  background-color: var(--g-color-white);
  display: flex;
  font-size: var(--g-spacing-2x-large);
  justify-content: center;
  position: sticky;
  top: 0;
  z-index: var(--g-z-dialog-header);
}

.c-dialog__content {
  font-size: var(--g-font-size-large);
  margin: var(--g-spacing-2x-large) 0;
  text-align: center;
}

.c-dialog__buttons {
  display: flex;
  gap: var(--g-spacing);
  justify-content: center;
}

.c-dialog__footer {
  padding-top: var(--g-spacing);
}

.c-dialog-icon {
  height: var(--g-spacing-3x-large);
  margin-right: var(--g-spacing);
  width: var(--g-spacing-3x-large);
}

.c-dialog__close-icon {
  border-radius: var(--g-border-radius-small);
  position: absolute;
  right: var(--g-spacing);
  top: var(--g-spacing);
}

.c-dialog__close-icon:hover,
.c-dialog__close-icon:focus {
  background-color: var(--g-color-error);
  border: transparent;
  box-shadow: var(--g-focus-danger);
  color: var(--g-color-white);
}
