.c-xd-icon {
  height: var(--g-spacing-x-large);
  width: var(--g-spacing-x-large);
}

/* custom styles  */

.c-custom-sidebar-class > div {
  position: absolute !important;
}

.c-form-buttons-custom-style {
  display: flex;
  gap: 1rem;
  justify-content: flex-start !important;
}

.c-role-indicator .c-tooltip__icon {
  background-color: transparent;
  border-color: transparent;
  height: 1.2rem;
  padding: 0;
  width: 1.2rem;
}

.c-role-indicator .c-tooltip__icon:hover {
  color: var(--g-color-brand);
}

.c-role-indicator .c-tooltip__trigger {
  border: none;
  box-shadow: none;
}
