.c-button {
  border: 1px solid transparent;
  border-radius: var(--g-border-radius-small);
  cursor: pointer;
  display: inline-block;
  font-size: var(--g-font-size);
  font-weight: var(--g-font-weight-semibold);
  padding: var(--g-spacing-small) var(--g-spacing-x-large);
  text-align: center;
  text-decoration: none;
  transition: 0.1s ease-in-out;
}

.c-button:disabled {
  background-color: var(--g-color-disabled);
  cursor: not-allowed;
}

.c-button--primary {
  background-color: var(--g-color-blue-200);
  color: var(--g-color-black-100);
}

.c-button--primary:focus {
  box-shadow: var(--g-focus-primary);
}

.c-button--primary-inverse {
  background-color: var(--g-color-white);
  border: 1px solid var(--g-color-black-900);
  color: var(--g-color-black-100);
}

.c-button--primary-inverse:focus,
.c-button--primary-inverse:hover {
  background-color: var(--g-color-blue-200);
  border-color: var(--g-color-blue-200);
}

.c-button--secondary {
  background-color: var(--g-color-white);
  border: 1px solid var(--g-color-black-900);
  color: var(--g-color-black-100);
}

.c-button--secondary:focus {
  background-color: var(--g-color-blue-700);
  border: 1px solid var(--g-color-blue-200);
  box-shadow: var(--g-focus-primary);
  color: var(--g-color-white);
}

.c-button--secondary:active {
  background-color: var(--g-color-black-900);
  border-color: var(--g-color-blue-200);
}

.c-button--secondary:hover:enabled {
  background-color: var(--g-color-blue-700);
  border-color: var(--g-color-blue-200);
  color: var(--g-color-white);
}

.c-button--tertiary {
  background-color: var(--g-color-white);
  border-color: var(--g-color-black-900);
  color: var(--g-color-black-900);
}

.c-button--tertiary:focus {
  background-color: var(--g-color-red-700);
  border: 1px solid var(--g-color-blue-200);
  box-shadow: var(--g-focus-primary);
  color: var(--g-color-white);
}

.c-button--tertiary:hover:enabled {
  background-color: var(--g-color-red-700);
  color: var(--g-color-white);
}

.c-button--danger--tertiary {
  background-color: var(--g-color-white);
  border: 1px solid var(--g-color-red-400);
  color: var(--g-color-red-400);
}

.c-button--danger--tertiary:focus {
  background-color: var(--g-color-red-400);
  border-color: var(--g-color-red-400);
  box-shadow: var(--g-focus-danger);
  color: var(--g-color-white);
}

.c-button--danger--tertiary:hover:enabled {
  background-color: var(--g-color-red-400);
  border-color: var(--g-color-red-400);
  color: var(--g-color-white);
}

.c-button--danger {
  background-color: var(--g-color-red-400);
  color: var(--g-color-white);
}

.c-button--danger:focus {
  background-color: var(--g-color-red-400);
  box-shadow: var(--g-focus-danger);
  color: var(--g-color-white);
}

.c-button--danger:active {
  background-color: var(--g-color-red-300);
}

.c-button--danger:hover:enabled {
  background-color: var(--g-color-red-400);
  color: var(--g-color-white);
}

.c-button--dark {
  background-color: var(--g-color-white);
  border: 1px solid var(--g-color-black-900);
  color: var(--g-color-black-900);
}

.c-button--dark:focus {
  background-color: var(--g-color-black-900);
  box-shadow: var(--g-focus-dark);
  color: var(--g-color-white);
}

.c-button--dark:active {
  background-color: var(--g-color-black-900);
}

.c-button--dark:hover:enabled {
  background-color: var(--g-color-black-900);
  color: var(--g-color-white);
}

.c-button--cta {
  background-color: var(--g-color-orange-200);
  color: var(--g-color-black-900);
}

.c-button--cta:focus {
  background-color: var(--g-color-orange-400);
  border: 1px solid transparent;
  box-shadow: var(--g-focus-cta);
}

.c-button--cta:hover:enabled {
  background-color: var(--g-color-orange-400);
}

.c-button--cta--tertiary {
  background-color: var(--g-color-white);
  border-color: var(--g-color-orange-200);
  color: var(--g-color-orange-200);
}

.c-button--cta--tertiary:focus {
  background-color: var(--g-color-orange-400);
  border: 1px solid transparent;
  box-shadow: var(--g-focus-cta);
  color: var(--g-color-black);
}

.c-button--cta--tertiary:hover:enabled {
  background-color: var(--g-color-orange-400);
  border: 1px solid transparent;
  color: var(--g-color-black-900);
}
