.c-dropzone-file-upload-mock {
  align-items: center;
  display: flex;
  gap: var(--g-spacing);
}

.c-dropzone-file-upload-mock_text {
  font-size: var(--g-font-size-3x-large);
  font-weight: var(--g-font-weight-bold);
}
