.c-spinner__container {
  align-items: center;
  background-color: rgba(1, 1, 1, 0.5);
  color: #fff;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  transition: background-color 0.5s ease-in-out;
  width: 100vw;
  z-index: 9999;
}

.c-spinner__icon {
  animation: rotate 1s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff #fff #fff transparent;
  border-radius: 50%;
  border-style: solid;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
