.c-page-preview-card {
  color: var(--g-color-black-900);
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  position: relative;
}

.c-page-preview-card--is-hero {
  max-width: 100%;
  width: 100% !important;
}

.c-page-preview-card--is-hero > .c-page-preview-card__title {
  font-size: var(--g-font-size-6x-large);
  font-weight: var(--g-font-weight-bold);
  line-height: var(--g-font-size-6x-large);
  text-transform: uppercase;
}

.c-page-preview-card__image-container {
  border-radius: var(--g-border-radius-medium);
  margin-bottom: var(--g-spacing-small);
  overflow: hidden;
}

.c-page-preview-card__image {
  height: var(--g-page-preview-card-height);
  object-fit: cover;
  transition: var(--g-animation-transition);
  width: 100%;
}

.c-page-preview-card:hover .c-page-preview-card__image {
  transform: scale(1.04);
  transform-origin: 50% 50%;
}

.c-page-preview-card__sub-title {
  font-size: var(--g-font-size-large);
  font-weight: var(--g-font-weight-light);
  line-height: var(--g-font-size-2x-large);
  margin-bottom: var(--g-spacing-small);
  text-transform: uppercase;
}

.c-page-preview-card__title {
  font-size: var(--g-font-size-4x-large);
  line-height: var(--g-font-size-4x-large);
  margin-bottom: var(--g-spacing-small);
}

.c-page-preview-card__container {
  padding: 0 var(--g-spacing-small) var(--g-spacing-large);
  width: 100%;
}

@media (min-width: 42em) {
  .c-page-preview-card__container {
    width: 50%;
  }
}

@media (min-width: 64em) {
  .c-page-preview-card__container {
    width: 33.333333%;
  }
}
