.c-table-container {
  overflow-x: auto;
  overflow-y: hidden;
  position: relative;
}

.c-api-table {
  width: 100%;
}

.c-api-table__header,
th {
  background-color: var(--g-color-white);
}

.c-api-table tr:nth-child(odd) {
  background-color: #f8f8f8;
}

.c-api-table td,
th {
  border: var(--g-border-primary);
  padding: 6px 13px;
}

.h-no-wrap {
  white-space: nowrap;
}

.h-bold {
  font-weight: bold;
}

.c-code-tag {
  background-color: #f8f8f8;
  border: 1px solid #eee;
  border-radius: var(--g-spacing-3x-small);
  color: inherit;
  color: #333;
  display: inline-block;
  font-family: 'Operator Mono', 'Fira Code Retina', 'Fira Code', 'Andale Mono', 'Lucida Console', 'Consolas, Monaco', monospace;
  font-size: var(--g-font-size-x-small);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1;
  margin: 0 var(--g-spacing-3x-small);
  padding: var(--g-spacing-3x-small) calc(var(--g-spacing-3x-small) * 2);
  vertical-align: baseline;
  white-space: nowrap;
}
