.c-role-indicator {
  position: relative;
}

.c-role-indicator--top-right {
  left: 2.1rem;
  top: 1.2rem;
}

.c-role-indicator--bottom-right {
  left: 2.1rem;
  top: 3.5rem;
}

.c-avatar {
  align-items: center;
  display: flex;
  height: var(--g-spacing-4x-large);
  justify-content: center;
  width: var(--g-spacing-4x-large);
}

.c-avatar,
.c-avatar img {
  border-radius: var(--g-border-radius-full);
}

.c-avatar__initials {
  text-decoration: none !important;
  text-transform: uppercase;
}

.c-avatar__title {
  color: var(--g-color-white);
  font-weight: var(--g-font-weight-semibold);
}

.c-avatar--small {
  height: var(--g-spacing-2x-large);
  width: var(--g-spacing-2x-large);
}

.c-avatar--small .c-avatar__title {
  font-size: var(--g-font-size-x-small);
}
