.c-checkbox + .c-checkbox {
  flex-direction: row-reverse;
  margin-top: var(--g-spacing-x-small);
}

.c-checkbox .c-label {
  align-items: center;
  display: flex;
  flex-direction: row-reverse;
  gap: var(--g-spacing-small);
  justify-content: flex-end;
}

.c-checkbox__icon-container {
  align-items: center;
  border: var(--g-border-primary);
  color: var(--g-color-white);
  display: flex;
  flex: 0 0 auto;
  height: var(--g-spacing-x-large);
  justify-content: center;
  position: relative;
  width: var(--g-spacing-x-large);
}

.c-checkbox__icon-container + span {
  margin-left: var(--g-spacing-x-small);
}

.c-checkbox__input:checked + .c-label .c-checkbox__icon-container {
  background-color: var(--g-color-blue-200);
}

.c-checkbox__input:focus + .c-label .c-checkbox__icon-container {
  outline: 1px dashed;
}

.c-checkbox__icon {
  pointer-events: none;
}
