.c-input-field {
  width: 100%;
}

.c-input-field__input {
  appearance: none;
  background-color: #fff;
  border: 1px solid var(--g-color-input-field-border, #e4e4e3);
  border-radius: 5px;
  display: block;
  font-size: 1rem;
  margin: 0;
  padding: 0.5rem 1rem;
  width: 100%;
}

.c-input-field__input:focus {
  border-color: #000;
  outline: none;
}

.c-input-field__input--textarea {
  min-height: var(--g-spacing-6x-large);
}

.c-input-field__input.is-invalid {
  border-color: var(--g-color-error, #faa);
}

/*
 * Hide only visually, but have it available for screen readers.
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line, see:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.h-hide-visually {
  border: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap; /* 1 */
  width: 1px;
}
