.c-play-button,
.c-play-button__play-icon {
  max-height: var(--g-spacing-large);
  max-width: var(--g-spacing-large);
}

.c-play-button {
  align-items: center;
  border: var(--g-border-primary);
  border-radius: var(--g-border-radius-full);
  box-shadow: 0 0 1px 1px var(--g-color-brand-secondary);
  display: flex;
}

.c-play-button__play-icon {
  left: var(--g-spacing-4x-small);
  position: relative;
}

.c-play-button:hover {
  box-shadow: 0 0 2px 2px var(--g-color-brand-secondary);
  transition: var(--g-animation-transition);
}
