/* stylelint-disable selector-class-pattern */

.c-table-container {
  overflow-x: auto;
  overflow-y: hidden;
  position: relative;
}

.c-table {
  width: 100%;
}

.c-table__error-message-container {
  align-items: center;
  border: 1px solid var(--g-color-error);
  border-radius: var(--g-spacing-x-small);
  color: var(--g-color-error);
  display: flex;
  font-size: var(--g-font-size-small);
  font-weight: var(--g-font-weight);
  justify-content: center;
  padding: var(--g-spacing);
}

.c-table__no-table-data-container {
  align-items: center;
  display: flex;
  font-size: var(--g-font-size-small);
  font-weight: var(--g-font-weight-bold);
  justify-content: center;
  padding: 2rem;
}

.c-table__thead-th {
  border: 1px solid transparent;
  border-bottom: 1px solid var(--g-border-primary);
  color: var(--g-color-black-900);
  font-size: var(--g-font-size-small);
  font-weight: var(--g-font-weight-bold);
}

.c-table__thead {
  white-space: nowrap;
}

.c-table__tbody-tr {
  border: 1px solid var(--g-color-grey-100);
}

.c-table__tbody-tr:nth-child(even) {
  background-color: var(--g-color-grey-50);
}

.c-table__tbody-tr:nth-child(even):hover {
  background-color: var(--g-color-grey-100);
}

.c-table__tbody-tr:nth-child(even):focus {
  background-color: var(--g-color-grey-100);
}

.c-table__tbody-tr:hover {
  border-left: var(--g-spacing) solid var(--g-color-blue-200);
}

.c-table__row-th-spacer {
  width: var(--g-spacing-3x-small);
}

.c-table__tbody-td {
  font-size: var(--g-font-size);
}

.c-table__row:hover td:first-child {
  background-color: var(--g-color-grey-200);
}

.c-table__row:hover td:not(:first-child) {
  background-color: var(--g-color-grey-50);
}

.c-table__row a:visited {
  color: var(--g-color-brand-secondary);
}

.c-table__row-th {
  padding: var(--g-spacing);
}

.c-table__row-th-sort {
  padding-bottom: var(--g-spacing-3x-small);
  padding-left: var(--g-spacing-x-small);
}

.c-table__row-cell {
  font-size: var(--g-spacing-small);
  overflow: hidden;
  padding: var(--g-spacing-x-small) var(--g-spacing);
  text-overflow: ellipsis;
}

.c-table-cell__text-align-center {
  text-align: center;
}

.c-table-cell__text-align-right {
  text-align: right;
}

.c-table__tbody {
  border-radius: var(--g-border-radius-small);
}

.c-table__tbody-tr {
  border: 1px solid var(--g-color-grey-100);
}

.c-table__tbody-tr:hover {
  background-color: var(--g-color-grey-50);
}

.c-table__thead-th {
  padding: var(--g-spacing) var(--g-spacing-x-small) !important;
}

.c-table__tbody-td,
.c-table__thead-th {
  padding: var(--g-spacing-x-small);
}

.c-table__thead-th-contents-container {
  align-items: center;
  display: flex;
}

.c-table__thead-th-contents-text {
  display: flex;
  flex: 1;
  white-space: nowrap;
}

.c-table__thead-th-contents-sort {
  display: flex;
}

.c-table__sort-icon {
  height: var(--g-spacing);
  width: var(--g-spacing);
}

@media only screen and (max-width: 1000px) {
  .c-table__tbody-td div {
    display: inline;
    font-size: var(--g-font-size);
    font-weight: var(--g-font-weight-light);
    width: 50%;
  }

  .c-table__tbody-td[data-hr]::before {
    content: attr(data-hr);
  }

  .c-table__tbody-td[data-hr] {
    display: flex;
    font-size: var(--g-font-size-small);
    font-weight: var(--g-font-weight-semibold);
    justify-content: space-between;
    width: unset !important;
  }

  .c-table__thead {
    display: none;
  }

  .c-table__thead-tr {
    display: flex;
    flex-direction: column;
  }

  .c-table__tbody-tr:hover {
    border: 1px solid var(--g-color-grey-100) !important;
  }
}
