.c-notifications-dropdown {
  align-items: center;
  border-radius: var(--g-border-radius-small);
  box-shadow: var(--g-dropdown-box-shadow);
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: calc(var(--g-spacing) * 20);
  min-height: calc(var(--g-spacing) * 5);
}

.c-notifications-dropdown__button {
  background-color: var(--g-color-grey-50);
  border: none;
  font-weight: var(--g-font-weight-bold);
  margin-top: var(--g-spacing-x-small);
  padding: var(--g-spacing);
  text-align: center;
  width: 100%;
}

.c-notifications-dropdown__list-item {
  position: relative;
}

.c-notifications-dropdown__list-item-button {
  border: none;
  padding: var(--g-spacing-x-small) var(--g-spacing-2x-large);
  width: 100%;
}

.c-notifications-dropdown__list-item-status {
  border-radius: var(--g-border-radius-full);
  height: calc(var(--g-spacing-small) - 0.05rem);
  left: var(--g-spacing-small);
  position: absolute;
  top: var(--g-spacing);
  width: calc(var(--g-spacing-small) - 0.05rem);
}

.c-notifications-dropdown__list-item-read {
  background-color: var(--g-color-warning);
}

.c-notifications-dropdown__list-item-not-read {
  background-color: var(--g-color-error);
}

@media only screen and (min-width: 48em) {
  .c-notifications-dropdown .c-dropdown-navigation__list-item:hover {
    background-color: var(--g-color-grey-50) !important;
  }

  .c-notifications-dropdown__list-item:hover {
    background-color: var(--g-color-grey-50);
  }

  .c-notifications-dropdown__button:hover {
    background-color: var(--g-color-brand-tertiary);
    color: var(--g-color-white);
  }
}
