.c-back-to-top-container {
  height: 100vh;
  position: absolute;
  right: 0;
  top: 0;
  width: 1px; /* MS Edge requires a nominal dimension */
}

.c-back-to-top__button {
  align-items: center;
  background: var(--g-color-white);
  border: 1px solid var(--g-color-black-900);
  border-radius: 2em;
  bottom: var(--g-spacing);
  color: var(--g-color-surface);
  display: flex;
  font-size: var(--g-font-size-x-small);
  font-weight: var(--g-font-weight);
  justify-content: center;
  left: 50%;
  line-height: 1;
  opacity: 1;
  position: fixed;
  text-decoration: none;
  text-transform: uppercase;
  transform: translateX(-50%);
  transition: all 0.2s ease;
  visibility: visible;
  width: var(--g-spacing-6x-large);
  height: var(--g-spacing-2x-large);
  z-index: 999;
}

.c-back-to-top__button:hover {
  border: 1px solid var(--g-color-brand-tertiary);
}

.c-back-to-top__button:focus {
  box-shadow: var(--g-focus-primary);
  filter: brightness(110%);
}

.c-back-to-top-container--is-intersecting .c-back-to-top__button {
  opacity: 0;
  visibility: hidden;
}

.c-back-to-top__text {
  display: block;
  margin-right: var(--g-spacing-2x-small);
}

.c-back-to-top__icon {
  height: var(--g-spacing);
  transform: rotate(180deg);
  width: var(--g-spacing);
}
