.c-table-example {
  width: 100%;
}

.c-table-example tr:nth-child(even) {
  background-color: #f8f8f8;
}

.c-table-example th {
  border: var(--g-border-primary);
  padding: 6px 13px;
  white-space: nowrap;
}

.c-table-example td {
  border: var(--g-border-primary);
  padding: 6px 13px;
}
