/* Use single column layout for smaller devices) */
@media screen and (min-width: 48em) {
  /* Even split will use grid layout */
  .l-layout:not(.l-layout--even-split) {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
  }

  .l-layout:not(.l-layout--even-split) .l-layout__item {
    flex: 1;
  }
}

/* even splits regardless of column count */

.l-layout--even-split {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
}

.l-layout--even-split.l-layout--gap-small {
  grid-gap: 0.5rem;
}

.l-layout--even-split.l-layout--gap-medium {
  grid-gap: 1rem;
}

.l-layout--even-split.l-layout--gap-large {
  grid-gap: 1.5rem;
}

/* SideBars */

/* Use single column layout for smaller devices */

@media screen and (min-width: 48em) {
  .l-layout--wide-start > .l-layout__item:first-child,
  .l-layout--wide-end > .l-layout__item:last-child {
    flex: calc(100% / 3) 1;
    min-width: 20rem;
  }

  .l-layout--slim-start > .l-layout__item:first-child,
  .l-layout--slim-end > .l-layout__item:last-child {
    flex: 0 0 25%;
    min-width: 13.75rem;
  }

  .l-layout--fat-start > .l-layout__item:first-child,
  .l-layout--fat-end > .l-layout__item:last-child {
    flex: 0 0 50%;
    min-width: 32rem;
  }
}

.l-layout--gap-small:not(.l-layout--even-split) {
  margin-bottom: -0.5rem;
}

.l-layout--gap-small:not(.l-layout--even-split) > .l-layout__item {
  margin-bottom: 0.5rem;
}

.l-layout--gap-medium:not(.l-layout--even-split) {
  margin-bottom: -1rem;
}

.l-layout--gap-medium:not(.l-layout--even-split) > .l-layout__item {
  margin-bottom: 1rem;
}

.l-layout--gap-large:not(.l-layout--even-split) {
  margin-bottom: -1.5rem;
}

.l-layout--gap-large:not(.l-layout--even-split) > .l-layout__item {
  margin-bottom: 1.5rem;
}

/* Column gutters only needed when multiple columns at larger sizes */

@media screen and (min-width: 48em) {
  .l-layout--gap-small:not(.l-layout--even-split) {
    margin-left: -0.5rem;
  }

  .l-layout--gap-small:not(.l-layout--even-split) > .l-layout__item {
    padding-left: 0.5rem;
  }

  .l-layout--gap-medium:not(.l-layout--even-split) {
    margin-left: -1rem;
  }
  .l-layout--gap-medium:not(.l-layout--even-split) > .l-layout__item {
    padding-left: 1rem;
  }

  .l-layout--gap-large:not(.l-layout--even-split) {
    margin-left: -1.5rem;
  }

  .l-layout--gap-large:not(.l-layout--even-split) > .l-layout__item {
    padding-left: 1.5rem;
  }
}

.test-item {
  background-color: orange;
  padding: 0.25rem 0.5rem;
}
