.c-organisation-navigation .c-dropdown-navigation__list-item:last-child {
  font-size: var(--g-font-size-small);
  font-weight: var(--g-font-weight-bold);
}

.c-organisation-navigation .c-dropdown-navigation__list-item:not(:last-child) {
  background-color: var(--g-color-grey-50);
}

.c-organisation-navigation__small-text {
  bottom: var(--g-spacing-2x-small);
  color: var(--g-color-grey);
  font-size: var(--g-font-size-small);
  font-weight: var(--g-font-weight);
  position: relative;
}

.c-organisation-navigation__link {
  align-items: center;
  color: var(--g-color-black-900);
  display: flex;
  gap: var(--g-spacing-small);
  text-decoration: none;
}

.c-organisation-navigation__title {
  font-weight: var(--g-font-weight-bold);
  padding: var(--g-spacing-x-small) var(--g-spacing-small);
}

.c-organisation-navigation__icon {
  height: var(--g-spacing-x-large);
  width: var(--g-spacing-x-large);
}

@media only screen and (min-width: 48em) {
  .c-organisation-navigation__title:hover {
    background-color: var(--g-color-grey-100);
  }
}
