.c-select-with-search {
  font-family: var(--g-font-primary);
  flex: 1;
  position: relative;
}

.c-select-with-search__content {
  background-color: var(--g-color-white);
  border: none;
  position: absolute;
  width: 100%;
  z-index: 1;
}

.c-select-with-search--disabled {
  background-color: var(--g-color-disabled);
}

.c-select-with-search__search-icon,
.c-select-with-search__cross-icon {
  position: absolute;
}

.c-select-with-search__search-icon {
  left: var(--g-spacing-small);
  max-width: var(--g-spacing-large);
  top: var(--g-spacing-small);
}

.c-select-with-search__cross-icon {
  max-width: var(--g-spacing-large);
  right: calc(var(--g-spacing-2x-small) * -1);
  top: calc(var(--g-spacing-x-small) * -1);
}

.c-select-with-search__cross-button {
  border: none;
  cursor: pointer;
  position: absolute;
  right: var(--g-spacing);
  top: calc(var(--g-spacing-large) + var(--g-spacing-4x-small));
}

.c-select-with-search__list .c-button-list__item:first-child {
  border-top: none;
}

.c-select-with-search__trigger-icon {
  max-width: var(--g-spacing-small);
  position: relative;
  top: var(--g-spacing-3x-small);
}

.c-select-with-search__input,
.c-select-with-search__item-count {
  align-items: center;
  border: var(--g-border-primary);
  font-family: var(--g-font-primary);
  font-size: var(--g-font-size);
  padding: var(--g-spacing-small);
  width: 100%;
}

.c-select-with-search__input {
  border-top: none;
  padding-left: var(--g-spacing-3x-large);
}

.c-select-with-search__input:focus {
  outline: none;
}

.c-select-with-search__search {
  position: relative;
}

.c-select-with-search__trigger {
  align-items: center;
  border: var(--g-border-primary);
  border-radius: var(--g-border-radius-small);
  color: var(--g-color-black-900);
  display: flex;
  font-family: var(--g-font-primary);
  font-size: var(--g-font-size);
  justify-content: space-between;
  padding: var(--g-spacing-small);
}

.c-button-list__item-content__label {
  font-family: var(--g-font-primary);
  font-size: var(--g-font-size);
}

.c-dropdown-toggle {
  padding: 0;
  width: 100%;
}

.h-rotate-180 {
  transform: rotate(180deg);
}

.h-with-no-border-left-right-radius {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
