.c-nav-menu {
  max-width: 100%;
}

.c-nav-menu--is-hidden {
  transform: translateX(100%);
}

@media only screen and (min-width: 47.5em) {
  .c-nav-menu {
    bottom: 0;
    max-width: 25rem;
    overflow-x: hidden;
    overflow-y: auto;
    position: fixed;
    right: 0;
    top: 0;
    transition: transform 300ms ease-in-out;
    width: 100%;
    z-index: var(--g-z-sidebar);
  }

  .c-nav-menu--is-hidden {
    transform: translateX(32rem);
  }

  .c-nav-menu__item {
    text-align: center;
  }

  .c-nav-menu__item:hover {
    background-color: var(--g-color-white);
    text-align: center;
  }

  .c-nav-menu__link {
    color: var(--g-color-black);
    display: block;
    padding: var(--g-spacing);
    text-align: center;
    text-decoration: none;
    width: 100%;
  }

  .c-nav-menu__icon {
    color: var(--g-color-black);
    height: var(--g-spacing-2x-large);
    margin-right: var(--g-spacing);
    width: var(--g-spacing-2x-large);
  }

  .c-nav-menu__text {
    align-items: center;
    display: flex;
  }
}
