.c-radio-button-group {
  display: flex;
  flex-direction: column;
}

.c-radio-button-group__title {
  display: inline-block;
  font-size: var(--g-font-size-x-small);
  font-weight: var(--g-font-weight-light);
  padding-bottom: var(--g-spacing);
}
