.c-tooltip {
  display: inline-block;
  margin: 0;
  padding: 0;
  position: relative;
  text-align: center;
}

.c-tooltip__trigger--is-hover-and-click {
  cursor: help !important;
}

.c-tooltip__trigger--is-click-only {
  cursor: pointer !important;
  visibility: visible !important;
}

.c-tooltip__trigger {
  align-items: center;
  border: var(--g-border-secondary);
  border-radius: var(--g-border-round);
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.c-tooltip__trigger:focus {
  box-shadow: var(--g-focus-primary);
}

.c-tooltip .c-tooltip__bubble {
  background-color: var(--g-color-white);
  border: var(--g-border-primary);
  border-radius: var(--g-spacing-2x-small);
  color: var(--g-color-black-900, #202124);
  display: block;
  font-size: var(--g-font-size-small);
  min-width: var(--g-tooltip-text-box-width);
  padding: var(--g-spacing-2x-small) var(--g-spacing-x-small);
  position: absolute;
  visibility: hidden;
}

.c-tooltip__trigger--is-hover-and-click:hover + .c-tooltip__bubble,
.c-tooltip__trigger--is-hover-and-click:focus + .c-tooltip__bubble {
  visibility: visible;
}

.c-tooltip__icon {
  background-color: var(--g-color-grey-50);
  border-radius: var(--g-border-round);
  color: var(--g-color-red-700, #972868);
  height: var(--g-spacing-x-large);
  padding: var(--g-spacing-2x-small);
  width: var(--g-spacing-x-large);
}

.c-tooltip__icon:hover {
  background-color: var(--g-color-red-700, #972868);
  color: var(--g-color-white, #fff);
}

.c-tooltip__bubble--top {
  bottom: 100%;
  left: 50%;
  margin-bottom: var(--g-spacing-x-small);
  transform: translateX(-50%);
}

.c-tooltip__bubble--right {
  left: 100%;
  margin-left: var(--g-spacing-x-small);
  top: 50%;
  transform: translateY(-50%);
}

.c-tooltip__bubble--bottom {
  left: 50%;
  margin-top: var(--g-spacing-x-small);
  top: 100%;
  transform: translateX(-50%);
}

.c-tooltip__bubble--left {
  margin-right: var(--g-spacing-x-small);
  right: 100%;
  top: 50%;
  transform: translateY(-50%);
}
