.c-tab-icon {
  height: var(--g-spacing-large);
  width: var(--g-spacing-large);
}

.c-tab__label {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-size: var(--g-font-size-x-small);
  gap: var(--g-spacing-x-small);
  white-space: nowrap;
}

.c-tab__link {
  display: block;
  text-decoration: none;
  transition: var(--g-transition-time);
}

.c-left-align-tab__link {
  color: var(--g-color-grey-300);
}

.c-left-align-tab__link--selected {
  color: var(--g-color-black-900);
  font-weight: var(--g-font-weight-semibold);
}

.c-switch-tab__link {
  color: var(--g-color-blue-700);
  font-size: var(--g-font-size-small);
  font-weight: var(--g-font-weight-bold);
  padding: var(--g-spacing) var(--g-spacing-3x-large);
}

.c-switch-tab__link--selected {
  background-color: var(--g-color-blue-200);
  border-radius: var(--g-border-radius-pill);
  color: var(--g-color-black-900);
  padding: var(--g-spacing) var(--g-spacing-x-large);
  transform: scale(1.2);
}

.c-switch__icon {
  margin: var(--g-margin-0-auto);
}

.c-left-align-tab__label {
  flex-direction: row;
}

.c-underline-tab__link {
  border-bottom: solid 0.3rem transparent;
  color: var(--g-color-black-900);
}

.c-underline-tab__link:hover,
.c-underline-tab__link:focus {
  color: var(--g-color-blue-200);
}

.c-underline-tab__link--selected {
  border-bottom: solid 0.3rem var(--g-color-blue-200);
  color: var(--g-color-blue-200);
}

.c-underline__icon {
  margin: var(--g-margin-0-auto);
}

.c-underline-tab__label {
  padding: var(--g-spacing);
}
