.c-sidebar-trigger-button {
  background-color: var(--g-color-blue-200);
  border-radius: var(--g-border-radius-small);
  color: var(--g-color-white);
  cursor: pointer;
  display: inline-block;
  font-size: var(--g-font-size);
  font-weight: var(--g-font-weight-semibold);
  padding: var(--g-spacing-small) var(--g-spacing-x-large);
  text-align: center;
  text-decoration: none;
  transition: 0.1s ease-in-out;
}

.c-sidebar-trigger-button:focus {
  box-shadow: var(--g-focus-primary);
}

.c-sidebar-trigger-button--is-icon {
  border: transparent;
  border-radius: var(--g-border-round);
  margin: 0;
  padding: 0.2rem;
}

.c-sidebar-trigger-button--is-icon:focus {
  box-shadow: var(--g-focus-primary);
}

.c-sidebar-trigger-button__icon {
  background-color: var(--g-color-blue-200);
  border-radius: var(--g-border-round);
  color: var(--g-color-white);
  height: var(--g-spacing-2x-large);
  width: var(--g-spacing-2x-large);
}
