.c-menu {
  display: flex;
  flex-direction: column;
  margin: 0 0 var(--g-spacing-4x-large) 0;
}

.c-menu .c-breadcrumb-with-avatar,
.c-menu .c-information-box {
  margin-bottom: var(--g-spacing-2x-large);
}
