.c-color-picker {
  margin-top: var(--g-spacing);
}

.color-picker__select {
  padding: var(--g-spacing);
}

.c-color-picker-hide {
  display: none !important;
}

.c-color-picker-show {
  display: block !important;
}
