.c-settings-button {
  align-items: center;
  border-color: transparent;
  border-radius: var(--g-border-radius-full);
  display: flex;
  height: var(--g-spacing-x-large);
  justify-content: center;
  padding: var(--g-spacing-2x-small);
  width: var(--g-spacing-x-large);
}

@media (min-width: 64em) {
  .c-settings-button:hover {
    background-color: var(--g-color-grey-100);
  }
}

.c-settings-button__icon {
  color: var(--g-color-blue-700);
  display: flex;
  height: var(--g-spacing);
  width: var(--g-spacing);
}
