.c-copy-button {
  border: 2px solid var(--g-color-blue-700);
  border-radius: var(--g-border-radius-small);
  padding: var(--g-spacing-2x-small);
}

.c-copy-button__icon {
  color: var(--g-color-blue-700);
  height: var(--g-spacing-large);
  width: var(--g-spacing-large);
}

.c-copy-button:focus {
  border: 2px solid var(--g-color-blue-200);
  box-shadow: var(--g-focus-primary);
}
