.c-button-list {
  max-height: calc(var(--g-spacing-5x-large) * 5);
  overflow-y: auto;
}

.c-button-list__item,
.c-button-list__item-count {
  align-items: center;
  border: var(--g-border-primary);
  display: flex;
  padding: var(--g-spacing-small);
  width: 100%;
}

.c-button-list__item-content {
  align-items: center;
  display: flex;
  gap: var(--g-spacing-x-small);
}

.c-button-list__item-content__avatar {
  min-width: var(--g-spacing-2x-large);
}

.c-button-list__item-count {
  background-color: var(--g-color-grey-50);
  border-bottom-left-radius: var(--g-border-radius-small);
  border-bottom-right-radius: var(--g-border-radius-small);
  border-top: none;
}

.c-button-list__item {
  border-bottom: none;
}

.c-button-list__item:hover,
.c-button-list__item:focus {
  background-color: var(--g-color-grey-100);
}

.c-button-list__item:last-child {
  border-bottom: var(--g-border-primary);
}
