.c-preloader {
  display: inline-block;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  justify-content: center;
  left: 50%;
  position: absolute;
  text-align: center;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
}
.preloader__spinner {
  display: flex;
  justify-content: center;
}

.c-preloader__message {
  position: relative;
  top: var(--g-spacing);
}

.c-preloader__spinner-icon {
  animation: loadSpin 0.75s cubic-bezier(0.4, 0.15, 0.6, 0.85) 0s infinite normal none running;
  height: var(--g-spacing-4x-large);
  width: var(--g-spacing-4x-large);
  color: var(--g-color-grey);
}

@keyframes loadSpin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
