.c-dropzone--container {
  background: transparent;
  border: none;
  min-width: 100%;
  padding: 0;
}

.c-dropzone {
  align-items: center;
  background-color: var(--g-color-white);
  border: 1px dashed var(--g-color-blue-400);
  border-radius: var(--g-spacing-x-small);
  display: flex;
  flex: 1;
  flex-direction: column;
  padding: var(--g-spacing-5x-large) var(--g-spacing-2x-large);
  position: relative;
  transition: border 0.25s ease-in-out;
}

.c-dropzone--is-active {
  border-color: var(--g-color-green-300);
}
