.c-information-box {
  align-items: flex-start;
  border: var(--g-border-primary);
  border-radius: var(--g-border-radius-small);
  color: var(--g-color-black-900);
  display: flex;
  flex-direction: column;
  padding: var(--g-spacing);
  position: relative;
  text-align: left;
}

.c-information-box__default-icon {
  background-color: var(--g-color-red-900);
  border-radius: var(--g-border-radius-full);
  color: var(--g-color-white);
}

.c-information-box__icon {
  margin-bottom: var(--g-spacing-x-small);
  margin-right: var(--g-spacing);
  max-height: var(--g-spacing-x-large);
  max-width: var(--g-spacing-x-large);
}

.c-information-box__message {
  font-family: inherit;
  font-size: var(--g-font-size);
  font-weight: var(--g-font-weight);
  line-height: 1.5;
  margin: 0;
}

@media (min-width: 64em) {
  .c-information-box {
    align-items: center;
    flex-direction: row;
  }

  .c-information-box__icon {
    margin-bottom: 0;
  }
}
