.c-textarea {
  appearance: none;
  background-color: transparent;
  border: 1px solid #fff;
  border-bottom: 1px solid var(--g-color-grey-200, #e4e4e4);
  border-radius: var(--g-spacing-2x-small);
  font-family: var(--g-font-primary);
  font-size: var(--g-font-size);
  font-weight: var(--g-font-weight-light);
  line-height: 1.5;
  min-height: 7.25rem;
  padding: var(--g-spacing-x-small);
  transition: background-color 0.2s ease-in-out 0s, border-color 0.2s ease-in-out 0s;
  width: 100%;
}

.c-textarea:hover {
  border: 1px solid var(--g-color-black-900);
}

.c-textarea:focus {
  border-color: var(--g-color-brand-tertiary);
  outline: none;
}

.c-textarea--is-disabled {
  background-color: var(--g-color-disabled);
  border: none;
}

.c-textarea--is-required,
.c-textarea--is-required:hover {
  border: 1px solid var(--g-color-red-300);
}

.c-textarea--is-correct,
.c-textarea--is-correct:hover {
  border: 1px solid var(--g-color-green-300);
}

.c-textarea-label--is-required {
  color: var(--g-color-red-300);
}

.c-textarea--is-disabled:hover {
  border: none;
}

.c-textarea--icon {
  height: var(--g-spacing-2x-large);
  width: var(--g-spacing-2x-large);
}
