.c-nav-button {
  border: none;
  border-radius: 50%;
  margin: 0;
  padding: var(--g-spacing-x-small);
}

.c-nav-button__icon {
  color: var(--g-color-black-900);
  height: var(--g-spacing);
  width: var(--g-spacing);
}
