.c-app-header__start,
.c-app-header__end {
  align-items: center;
  display: flex;
  gap: var(--g-spacing-large);
}

.c-app-header__end {
  padding-right: var(--g-spacing-4x-small);
}

.c-app-header__icon-link {
  color: var(--g-color-grey-50);
}

.c-app-header__image {
  height: auto;
  width: calc(var(--g-spacing-5x-large) * 3);
}

.c-app-header__link {
  text-decoration: none;
}

.c-app-header__logo-icon {
  height: 3rem;
  width: 3rem;
}

.c-app-header__start {
  justify-content: flex-start;
}
