.c-footer {
  align-items: center;
  background: var(--g-color-black-900);
  bottom: 0;
  color: var(--g-color-grey-50);
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  font-size: var(--g-font-size-small);
  height: var(--g-spacing-5x-large);
  justify-content: center;
  left: 0;
  margin-top: auto;
  padding: var(--g-spacing-small) 0;
  width: 100%;
  z-index: 1;
}

.c-footer__end,
.c-footer__link-list,
.c-footer-link__list-item {
  display: flex;
  gap: var(--g-spacing-x-small);
}

.c-footer-link__list-item:not(:last-child)::after {
  content: '|';
}

.c-footer__link-item {
  color: var(--g-color-grey-50);
  text-decoration: none;
}

.c-footer__start--project-name {
  padding-left: var(--g-spacing-2x-small);
  text-transform: uppercase;
}

@media only screen and (min-width: 48em) {
  .c-footer {
    flex-direction: row;
    font-size: var(--g-font-size-small);
    justify-content: space-between;
    padding: var(--g-spacing-large) var(--g-spacing-2x-large);
  }
}
