.c-quote__author {
  font-style: italic;
  font-weight: bold;
  font-size: 1.2rem;
  text-align: right;
}

.c-quote__content {
  font-style: italic;
  text-align: center;
}

.c-quote__speech-marks--close {
  display: flex;
  justify-content: flex-end;
}

.c-quote__speech-marks-icon {
  display: block;
  height: 1.5rem;
  width: 1.5rem;
}
