.c-radio-button {
  display: flex;
}

.c-radio-button__item {
  display: none;
}

.c-radio-button__item ~ label {
  cursor: pointer;
  display: flex;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.c-radio-button__item ~ label::before {
  border: 1px solid var(--g-color-grey);
  border-radius: var(--g-border-round);
  content: '';
  height: var(--g-spacing-x-large);
  left: 0;
  margin-right: var(--g-spacing-small);
  width: var(--g-spacing-x-large);
}

.c-radio-button__item:checked ~ label::before,
.c-radio-button__item:focus ~ label::before {
  background-color: var(--g-color-brand-tertiary);
  border: 1px solid var(--g-color-brand-tertiary);
}

.c-radio-button__label {
  font-weight: var(--g-font-weight);
}
