.c-navigation-button {
  align-items: center;
  border: none;
  display: flex;
}

.c-navigation-button:disabled {
  color: var(--g-color-disabled);
}

.c-navigation-button--next {
  flex-direction: row-reverse;
}

.c-navigation-button__text {
  font-weight: var(--g-font-weight-bold, 700);
}

.c-navigation-button__text--previous {
  margin-left: var(--g-spacing-small, 0.75rem);
}

.c-navigation-button__text--next {
  margin-right: var(--g-spacing-small, 0.75rem);
}

.c-navigation-button svg {
  height: var(--g-font-size-large, 1.125rem);
  width: var(--g-font-size-large, 1.125rem);
}

.c-navigation-button__icon--90 {
  transform: rotate(90deg);
}

.c-navigation-button__icon--180 {
  transform: rotate(180deg);
}

.c-navigation-button__icon--270 {
  transform: rotate(270deg);
}
