
.c-toggle-switch {
  display: block;
  height: var(--g-spacing);
  width: var(--g-spacing-4x-large);
}

.c-toggle-switch__checkbox {
  display: none;
}

.c-toggle-switch__checkbox:checked + .c-toggle-switch__slider::before {
  background: var(--g-color-blue-200);
}

.c-toggle-switch__checkbox:checked + .c-toggle-switch__slider::after {
  transform: translateX(22px);
}

.c-toggle-switch__slider {
  position: relative;
}

/* pill */
.c-toggle-switch__slider::before {
  background: var(--g-color-grey);
  border-radius: var(--g-border-radius-pill);
  bottom: 0;
  content: '';
  height: calc(var(--g-spacing-x-large) + 5px);
  margin: auto;
  position: absolute;
  top: var(--g-spacing-large);
  width: var(--g-spacing-4x-large);
}

/* circle */
.c-toggle-switch__slider::after {
  background: var(--g-color-white);
  border-radius: var(--g-border-radius-full);
  bottom: 0;
  content: '';
  height: var(--g-spacing-x-large);
  left: 3px;
  margin: auto;
  position: absolute;
  top: var(--g-spacing-large);
  transition: var(--g-animation-transition);
  width: var(--g-spacing-x-large);
}

/* hover */
.c-toggle-switch__slider:hover::before,
.c-toggle-switch__checkbox:checked + .c-toggle-switch__slider:hover::before {
  background: var(--g-color-blue-700);
}

.c-toggle-switch__wrapper {
  display: inline-block;
}
