.c-accordion__item-container {
  border: 1px solid var(--g-color-grey-100);
  border-bottom: 0;
  display: flex;
  padding: 0.25rem;
}

.c-accordion__item-container:last-child {
  border-bottom: 1px solid var(--g-color-grey-100);
}

.c-accordion__item-dropdown-icon {
  border: 0;
}

.c-accordion__item-dropdown-icon-container {
  align-items: center;
  display: flex;
}

.c-accordion__item-dropdown-icon--rotate {
  transform: rotate(180deg);
}

.c-accordion__item-contents-container {
  align-items: center;
  display: flex;
  flex: 1;
  padding: var(--g-spacing-2x-small);
}

.c-accordion__item-label {
  display: flex;
  flex: 1;
  margin-left: var(--g-spacing-2x-small);
  padding: 0;
}

.c-accordion__item-interaction {
  align-items: center;
  display: flex;
  gap: var(--g-spacing-x-small);
}

.c-accordion__item-child-container .c-accordion__item-label {
  font-weight: var(--g-font-weight-light);
  padding-left: var(--g-spacing-x-small);
}

.c-accordion__item-toggle .h-spacing-small {
  margin-bottom: 0;
}
