.c-asset-icon-card {
  color: var(--g-color-black-900);
  display: flex;
  flex-direction: column;
  padding: var(--g-spacing-large);
}

.c-asset-icon-card__container {
  align-items: center;
  background-color: var(--g-color-grey-100);
  border-radius: var(--g-border-round);
  color: var(--g-color-brand);
  display: flex;
  height: 100%;
  justify-content: center;
}

.c-asset-icon-card__icon {
  color: var(--g-color-brand);
  height: var(--g-spacing-3x-large);
  width: var(--g-spacing-3x-large);
}
