.c-copy-button-mock {
  display: flex;
  flex-direction: column;
  gap: var(--g-spacing);
}

.c-copy-button-mock-item {
  align-items: center;
  display: flex;
  gap: var(--g-spacing);
  justify-content: space-between;
  width: 17rem;
}

.c-copy-button-mock-table {
  width: 100%;
}

.c-copy-button-mock-table__row__head {
  border: none;
}

.c-copy-button-mock-table__row__head,
.c-copy-button-mock-table__row__cell {
  padding: var(--g-spacing-small);
}
