.c-breadcrumb-with-avatar {
  align-items: center;
  display: flex;
  margin-top: var(--g-spacing-4x-large);
}

.c-breadcrumb-with-avatar .c-avatar {
  margin-right: var(--g-spacing);
}

.c-breadcrumb-with-avatar__title {
  font-family: inherit;
  font-size: var(--g-font-size-x-large);
  font-weight: var(--g-font-weight-semibold);
  margin: 0;
}

.c-breadcrumb-with-avatar .c-breadcrumbs {
  margin: 0;
  padding: 0;
}
