.c-card {
  animation: ease-in 0.5s;
  background-color: var(--g-color-white, #fff);
  border: 1px solid var(--g-color-grey-100, #ecedf0);
  border-radius: var(--g-spacing-2x-small, 0.25rem);
  height: 12rem;
  overflow: hidden;
  padding: 0;
  text-decoration: none;
  transition: 0.25s ease-in-out;
}

.c-card:hover {
  box-shadow: 0 var(--g-spacing-2x-small, 0.25rem) var(--g-spacing) 0 var(--g-color-grey-100, #ecedf0);
  transform: scale(1.04);
}

.c-card__container {
  padding: 0 var(--g-spacing-small) var(--g-spacing-large);
  width: 100%;
}

.c-card__header {
  align-items: center;
  border-bottom: 1px solid var(--g-color-grey-100);
  display: flex;
  font-weight: var(--g-font-weight-semibold);
  padding: var(--g-spacing-small);
}

.c-card__header--has-button {
  display: grid;
  grid-template-columns: 6fr 1fr;
  justify-content: space-between;
}

.c-card__settings-button {
  background-color: var(--g-color-white);
  border: var(--g-color-white);
  position: relative;
  z-index: var(--g-z-settings-button);
}

.c-card__settings-button:hover {
  background-color: var(--g-color-grey-100);
  color: var(--g-color-black-900);
}

.c-card__settings-button:focus,
.c-card__settings-button:active {
  background-color: var(--g-color-brand);
  box-shadow: var(--g-focus-primary);
  color: var(--g-color-white);
}

@media (min-width: 32em) {
  .c-card__container {
    width: 50%;
  }
}

@media (min-width: 42em) {
  .c-card__container {
    width: 33.333333%;
  }
}

@media (min-width: 64em) {
  .c-card__container {
    width: 25%;
  }
}

@media (min-width: 96em) {
  .c-card__container {
    width: 16.666667%;
  }
}
