.c-toolbar {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: var(--g-spacing);
}

@media only screen and (min-width: 48em) {
  .c-toolbar {
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
  }

  .c-toolbar--middle {
    flex: 1;
  }
}
