.c-password {
  position: relative;
}

.c-password__button {
  background-color: transparent;
  border: none;
  margin: 0;
  position: absolute;
  right: var(--g-spacing-x-small);
  top: 4.25rem;
  transform: translateY(-50%);
}

.c-password__icon {
  color: var(--g-color-grey-500);
  height: var(--g-spacing-large);
  width: var(--g-spacing-large);
}
