.c-dropdown-toggle {
  border: none;
}

.c-dropdown-toggle--disabled {
  background-color: var(--g-color-grey-100) !important;
  cursor: unset !important;
}

.c-dropdown .c-icon {
  height: var(--g-spacing-x-large);
  width: var(--g-spacing-x-large);
}
