.c-dropdown-navigation {
  border-radius: var(--g-border-radius-small);
  box-shadow: var(--g-dropdown-box-shadow);
  font-size: var(--g-font-size);
  list-style-type: none;
  max-width: 12rem;
  padding: 0;
}

.c-dropdown-navigation__list-item {
  color: var(--g-color-black-900);
  cursor: pointer;
  display: flex;
  flex-direction: column;
  padding: var(--g-spacing-x-small) var(--g-spacing);
  text-align: left;
  transition: 0.2s ease-in-out;
  white-space: nowrap;
  width: 100%;
}

.c-dropdown-navigation__list-item-link {
  align-items: center;
  color: var(--g-color-black-900);
  display: flex;
  gap: var(--g-spacing-small);
  text-decoration: none;
}

@media only screen and (min-width: 48em) {
  .c-dropdown-navigation__list-item:hover {
    background-color: var(--g-color-grey-100) !important;
  }
}
