/* TODO: Update css after Matt's design */

/* .c-breadcrumb-with-avatar-and-cta {
  border-bottom: 1px solid var(--g-color-grey-100);
  border-top: 1px solid var(--g-color-grey-100);
  padding: var(--g-spacing-large) 0;
} */

@media screen and (min-width: 37.999em) {
  .c-breadcrumb-with-avatar-and-cta {
    border: none;
  }
}
