.c-google-map {
  border-radius: var(--g-border-radius-small, 5px);
  height: 100%;
  position: relative;
  width: 100%;
}

.c-google-map__inner {
  height: 100%;
  position: absolute;
  width: 100%;
}

.c-google-map--is-greyscale {
  filter: grayscale(99%);
}
