.c-message {
  align-items: center;
  border: 1px solid var(--g-color-grey-400);
  border-radius: var(--g-spacing-2x-small);
  box-shadow: var(--g-color-grey) 0 0 0 0.05rem;
  color: var(--g-color-black-900);
  display: grid;
  gap: var(--g-spacing-small);
  grid-template-columns: var(--g-spacing-x-large) auto var(--g-spacing-x-large);
  grid-template-rows: auto;
  padding: var(--g-spacing-small);
}

.c-message--has-close-button {
  align-items: flex-start;
  grid-template-columns: var(--g-spacing-x-large) auto;
}

.c-message___title {
  font-weight: var(--g-font-weight-bold);
}

.c-message___icon {
  align-self: start;
  height: var(--g-spacing-2x-large);
  width: var(--g-spacing-2x-large);
}

.c-message___close {
  height: calc(var(--g-spacing-2x-small) * 7);
  width: calc(var(--g-spacing-2x-small) * 7);
}

.c-message___close:focus {
  background-color: var(--g-color-grey-400);
}

@media screen (min-width: 64em) {
  .c-message___close:hover {
    background-color: var(--g-color-grey-400);
  }
}
