.c-button-icon-only {
  align-items: center;
  background-color: transparent;
  color: var(--g-color-black-900);
  cursor: pointer;
  display: flex;
  flex-direction: column;
  height: var(--g-spacing-2x-large);
  justify-content: center;
  line-height: 1;
  transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1);
  width: var(--g-spacing-2x-large);
}

.c-button-icon-only:disabled {
  background-color: var(--g-color-disabled);
  cursor: not-allowed;
}

.c-button-icon-only--primary {
  background-color: var(--g-color-blue-200);
  color: var(--g-color-black-100);
}

.c-button-icon-only--primary:focus {
  box-shadow: var(--g-focus-primary);
}

.c-button-icon-only--primary:hover {
  box-shadow: var(--g-focus-primary);
}

.c-button-icon-only--primary-inverse {
  background-color: var(--g-color-white);
  border: 1px solid var(--g-color-black-900);
  color: var(--g-color-black-100);
}

.c-button-icon-only--primary-inverse:focus,
.c-button-icon-only--primary-inverse:hover {
  background-color: var(--g-color-blue-200);
  border-color: var(--g-color-blue-200);
  box-shadow: var(--g-focus-primary);
}

.c-button-icon-only--secondary {
  background-color: var(--g-color-white);
  border: 1px solid var(--g-color-black-900);
  color: var(--g-color-black-100);
}

.c-button-icon-only--secondary:focus {
  background-color: var(--g-color-blue-700);
  border: 1px solid var(--g-color-blue-200);
  box-shadow: var(--g-focus-primary);
  color: var(--g-color-white);
}

.c-button-icon-only--secondary:active {
  background-color: var(--g-color-black-900);
  border-color: var(--g-color-blue-200);
}

.c-button-icon-only--secondary:hover:enabled {
  background-color: var(--g-color-blue-700);
  border-color: var(--g-color-blue-200);
  color: var(--g-color-white);
}

.c-button-icon-only--tertiary {
  background-color: var(--g-color-white);
  border-color: var(--g-color-black-900);
  color: var(--g-color-black-900);
}

.c-button-icon-only--tertiary:focus {
  background-color: var(--g-color-red-700);
  border: 1px solid var(--g-color-blue-200);
  box-shadow: var(--g-focus-primary);
  color: var(--g-color-white);
}

.c-button-icon-only--tertiary:hover:enabled {
  background-color: var(--g-color-red-700);
  color: var(--g-color-white);
}

.c-button-icon-only--danger--tertiary {
  background-color: var(--g-color-white);
  border: 1px solid var(--g-color-red-400);
  color: var(--g-color-red-400);
}

.c-button-icon-only--danger--tertiary:focus {
  background-color: var(--g-color-red-400);
  border-color: var(--g-color-red-400);
  box-shadow: var(--g-focus-danger);
  color: var(--g-color-white);
}

.c-button-icon-only--danger--tertiary:hover:enabled {
  background-color: var(--g-color-red-400);
  border-color: var(--g-color-red-400);
  color: var(--g-color-white);
}

.c-button-icon-only--danger {
  background-color: var(--g-color-red-400);
  color: var(--g-color-white);
}

.c-button-icon-only--danger:focus {
  background-color: var(--g-color-red-400);
  box-shadow: var(--g-focus-danger);
  color: var(--g-color-white);
}

.c-button-icon-only--danger:active {
  background-color: var(--g-color-red-300);
}

.c-button-icon-only--danger:hover:enabled {
  background-color: var(--g-color-red-400);
  color: var(--g-color-white);
}

.c-button-icon-only--dark {
  background-color: var(--g-color-white);
  border: 1px solid var(--g-color-black-900);
  color: var(--g-color-black-900);
}

.c-button-icon-only--dark:focus {
  background-color: var(--g-color-black-900);
  box-shadow: var(--g-focus-dark);
  color: var(--g-color-white);
}

.c-button-icon-only--dark:active {
  background-color: var(--g-color-black-900);
}

.c-button-icon-only--dark:hover:enabled {
  background-color: var(--g-color-black-900);
  color: var(--g-color-white);
}

.c-button-icon-only--cta {
  background-color: var(--g-color-orange-200);
  color: var(--g-color-black-900);
}

.c-button-icon-only--cta:focus {
  background-color: var(--g-color-orange-400);
  border: 1px solid transparent;
  box-shadow: var(--g-focus-cta);
}

.c-button-icon-only--cta:hover:enabled {
  background-color: var(--g-color-orange-400);
}

.c-button-icon-only--cta--tertiary {
  background-color: var(--g-color-white);
  border-color: var(--g-color-orange-200);
  color: var(--g-color-orange-200);
}

.c-button-icon-only--cta--tertiary:focus {
  background-color: var(--g-color-orange-400);
  border: 1px solid transparent;
  box-shadow: var(--g-focus-cta);
  color: var(--g-color-black);
}

.c-button-icon-only--cta--tertiary:hover:enabled {
  background-color: var(--g-color-orange-400);
  border: 1px solid transparent;
  color: var(--g-color-black-900);
}

.c-button-icon-only-icon-only--no-border {
  border: 0;
}

.c-button-icon-only--with-border {
  border: 1px solid var(--g-color-blue-700);
  border-radius: var(--g-border-radius-small);
}

/*
 * These two classes is provided so that it can be updated from the caller
 */

.c-button-icon-only svg,
.c-button-icon-only--selected svg {
  color: #000;
  stroke: #000;
  stroke-width: 1px;
}

.c-button-icon-only__icon {
  display: block;
  height: var(--g-spacing-x-large);
  width: var(--g-spacing-x-large);
}
