.c-link-card {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

.c-link-card__icon--has-title {
  height: var(--g-spacing-3x-large);
  width: var(--g-spacing-3x-large);
}

.c-link-card__icon--has-no-title {
  height: var(--g-spacing-4x-large);
  width: var(--g-spacing-4x-large);
}

.c-link-card__text {
  font-size: var(--g-font-size-large);
  font-weight: var(--g-font-weight-semibold);
  padding-top: var(--g-spacing);
}

.c-link-card__avatar {
  align-items: center;
  background: transparent linear-gradient(65deg, var(--g-color-brand-tertiary) 0%, var(--g-color-brand-tertiary) 68%);
  border-radius: 50%;
  color: var(--g-color-white);
  display: flex;
  font-size: var(--g-font-size-3x-large);
  font-weight: var(--g-font-weight-semibold);
  height: var(--g-spacing-4x-large);
  justify-content: center;
  width: var(--g-spacing-4x-large);
}
