.c-base-header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  left: 0;
  min-height: 4.375rem;
  right: 0;
  top: 0;
  z-index: 1;
}

@media only screen and (min-width: 48em) {
  .c-base-header {
    font-size: var(--g-font-size-small);
  }
}
