.c-page-message {
  align-items: center;
  background-color: var(--g-color-grey-50);
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  left: 50%;
  padding: var(--g-spacing);
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

.c-page-message__content {
  display: grid;
  padding: var(--g-spacing-small);
  row-gap: var(--g-spacing);
  text-align: center;
}

.c-page-message__content-button-group {
  display: flex;
  flex-wrap: wrap;
  gap: var(--g-spacing);
  justify-content: center;
  padding: var(--g-spacing-3x-large) 0 var(--g-spacing-2x-large);
}

.c-page-message__content-border {
  border-top: 3px solid var(--g-color-grey-100, #e4e4e4);
  justify-self: center;
  width: 70%;
}

.c-page-message__content-header {
  font-size: var(--g-font-size-3x-large);
  font-weight: var(--g-font-weight-semibold);
  padding: var(--g-spacing) 0;
  text-transform: uppercase;
}

.c-page-message__content-message {
  font-size: var(--g-font-size-large);
  padding: var(--g-spacing-small) 0;
}

.c-page-message__icon {
  margin: 0 var(--g-spacing-4x-large);
  max-width: var(--g-spacing-6x-large);
  opacity: 0;
}

@media only screen and (min-width: 48em) {
  .c-page-message {
    flex-direction: row;
    justify-content: space-evenly;
  }

  .c-page-message__content {
    width: 55%;
  }

  .c-page-message__content-header {
    font-size: var(--g-font-size-4x-large);
  }

  .c-page-message__content-message {
    font-size: var(--g-font-size-x-large);
    padding: var(--g-spacing-2x-large) 0;
  }

  .c-page-message__icon {
    max-width: 6rem;
    opacity: 1;
  }
}

@media only screen and (min-width: 64em) {
  .c-page-message__content-message {
    font-size: var(--g-font-size-2x-large);
    padding: var(--g-spacing-4x-large) 0;
  }

  .c-page-message__icon {
    max-width: 8rem;
  }
}
