.c-breadcrumb-item {
  align-items: center;
  display: flex;
  margin-left: 0;
}

.c-breadcrumb-item__divider-container {
  padding-left: var(--g-spacing-small, 1rem);
  padding-right: var(--g-spacing-small, 1rem);
}

.c-breadcrumb-item__link {
  color: var(--g-color-black, #000);
  font-size: var(--g-font-size, 1rem);
  text-decoration: none;
}
